 <div class="container container-margin">
  <h1>Modifier une publication</h1>

<div class="row">
  <div class="col-md-12">
<%= simple_form_for(@actualite, :html => { multipart: true }) do |f| %>
 <% if @actualite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actualite.errors.count, "erreur") %> empêchent l'objet d'être ajouté:</h2>

      <ul>
      <% @actualite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-form">
    <div class="champs">
      <%= f.input :title, label: "Titre de l'article" %>
      <%= f.input :contenu, label: "Contenu de l'article" %>
    <div class="row">
      <div class="col-xs-4 margin-padding-null">
        <%= f.input :day, label: 'Jour de publication', collection: 01..31, prompt: "Sélectionner un jour" %>
      </div>
      <div class="col-xs-4 margin-padding-null">
        <%= f.input :month, label: 'Mois de publication', collection: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"], prompt: "Sélectionner un mois" %>
      </div>
      <div class="col-xs-4 margin-padding-null">
        <%= f.input :year, label: 'Année de publication', collection: 2019..2025, prompt: "Sélectionner une année", selected: 2019 %>
      </div>
    </div>
      <%= f.input :auteur, label: 'Auteur de la publication' %>
    </div>

    <div class="actions btn-margin">
      <%= f.button :submit, 'Valider' %>
    </div>
    <% end %>

<p><%= link_to "RETOUR AUX ANNONCES", actualites_path, class: 'link-form'  %></p>
  </div>

     </div>
</div>
</div>
