<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <div>
    <ul>
      <li><%= link_to "Equipe", equipe_path  %></li>
      <li><%= link_to 'expertise', expertise_path   %></li>
      <li><%= link_to "Valeurs", valeurs_path %></li>
      <li><%= link_to "Actualites", actualites_path %></li>
      <li><%= link_to "Contact", new_contact_path %></li>
      <li><%= link_to "Mentions legales", mentions_legales_path %></li>

    </ul>
  </div>
</div>
