
      <nav>
            <span id="brand">
                  <a href="/"><%= image_tag 'logo.svg'%></a>
            </span>

            <ul id="menu">
                  <li><%= link_to "Equipe", equipe_path  %></li>
                  <li><%= link_to 'Expertise', expertise_path   %></li>
                  <li><%= link_to "Actualites", actualites_path %></li>
      <li><%= link_to "Contact", new_contact_path %></li>
      <li><%= link_to "Mentions legales", mentions_legales_path %></li>
            </ul>

            <div id="toggle" class="">
                  <div class="span" id="one"></div>
                  <div class="span" id="two"></div>
                  <div class="span" id="three"></div>
            </div>
      </nav>

      <div id="resize">
            <ul id="menu">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">FAQ</a></li>
            </ul>
      </div>



      <script>

      $("#toggle").click(function() {

      $(this).toggleClass('on');
      $("#resize").toggleClass("active");

      });


      </script>
