  <div class="nav-bar-container">
   <div class="logo-container">
    <a href="/" ><%= image_tag "logo.svg", id: "logo" %></a>

  </div>


    <div class="link-primary">
        <ul class="nav navbar-nav hidden-xs hidden-sm">
          <li><%= link_to "Accueil", '/'  %></li>
            <li><%= link_to "Equipe", equipes_path  %></li>
                <li><%= link_to 'Expertise', expertise_path   %></li>
                <li><%= link_to "Actualites", actualites_path %></li>
                <li><%= link_to "Contact", new_contact_path %></li>

        </ul>

  <div class="hamburger hidden-md  hidden-lg btn-open" id="hamburger-12">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
          <span class="letter">MENU</span>
        </div>

</div>

<div class="overlay">
  <div class="wrap">
    <ul class="wrap-nav">
      <ul>
        <li><%= link_to "Equipe", equipes_path  %></li>
                <li><%= link_to 'Expertise', expertise_path   %></li>
                <li><%= link_to "Actualites", actualites_path %></li>
                <li><%= link_to "Contact", new_contact_path %></li>
      <li><%= link_to "Mentions legales", mentions_legales_path %></li>
      </ul>
      </li>
    </ul>
  </div>
</div>
</div>

<script>
$(window).scroll(function() {

    if ($(this).scrollTop()>20)
     {
        $('.logo-container').hide();
     }
    else
     {
      $('.logo-container').show();
     }
 });</script>
