
<!--    <div class="logo-container">
     <a href="/"><#%= image_tag 'logo.svg'%></a>
   </div>
 <div class="nav-container">


   <div class="nav-container">
     <ul>
                <li><#%= link_to "Equipe", equipe_path  %></li>
                <li><#%= link_to 'Expertise', expertise_path   %></li>
                <li><#%= link_to "Actualites", actualites_path %></li>
                <li><#%= link_to "Contact", new_contact_path %></li>
      <li><#%= link_to "Mentions legales", mentions_legales_path %></li>

            </ul>
   </div>

 </div> -->



  <div class="nav-bar-container">
   <div class="logo-container">
    <a href="/" ><%= image_tag "logo.svg", id: "logo" %></a>

  </div>


    <div class="link-primary" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav hidden-xs hidden-sm">
          <li><%= link_to "Accueil", '/'  %></li>
            <li><%= link_to "Equipe", equipe_path  %></li>
                <li><%= link_to 'Expertise', expertise_path   %></li>
                <li><%= link_to "Actualites", actualites_path %></li>
                <li><%= link_to "Contact", new_contact_path %></li>
      <li><%= link_to "Mentions legales", mentions_legales_path %></li>

        </ul>

  <div class="hamburger hidden-md  hidden-lg btn-open" id="hamburger-12">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>

</div>

<div class="overlay">
  <div class="wrap">
    <ul class="wrap-nav">
      <li><a href="#">Produits</a>
      <ul>
        <li><%= link_to "Equipe", equipe_path  %></li>
                <li><%= link_to 'Expertise', expertise_path   %></li>
                <li><%= link_to "Actualites", actualites_path %></li>
                <li><%= link_to "Contact", new_contact_path %></li>
      <li><%= link_to "Mentions legales", mentions_legales_path %></li>
      </ul>
      </li>
      <li><a href="#">Qui sommes-nous ?</a>
      <ul>
        <li><%= link_to "Equipe", equipe_path  %></li>
                <li><%= link_to 'Expertise', expertise_path   %></li>
                <li><%= link_to "Actualites", actualites_path %></li>
                <li><%= link_to "Contact", new_contact_path %></li>
      <li><%= link_to "Mentions legales", mentions_legales_path %></li>
      </ul>
      </li>
    </ul>
  </div>
</div>
</div>

<script>
    $(document).ready(function(){
    $(".hamburger").click(function(){
        $(".overlay").fadeToggle(200);
       $(this).toggleClass('btn-open').toggleClass('btn-close');
    });
});
$('.overlay').on('click', function(){
    $(".overlay").fadeToggle(200);
    $(".hamburger").toggleClass('btn-open').toggleClass('btn-close');
    open = false;
});

$(document).ready(function(){
  $(".hamburger").click(function(){
    $(this).toggleClass("is-active");
  });
});


</script>
